<html>
  <head>
    <meta charset="UTF-8" />
    <title>Image Captioning</title>
  </head>
  <body>
    <div class="center">
      Welcome

      <form method="post" enctype="multipart/form-data" action="/predict">
        <div class="mb-3">
          <label for="imageUpload" class="form-label">Upload Image</label>
          <input
            type="file"
            class="form-control"
            id="imageUpload"
            name="file"
            accept=".png, .jpg, .jpeg"
          />
        </div>
        <button type="submit" class="btn btn-primary">Predict</button>
      </form>
    </div>
    {% if caption %}
    <div class="">
      <img
        src="{{ url_for('static', filename='uploads/' + image_path) }}"
        class=""
        alt="Captioned Image"
      />
      <p class="">Caption: {{ caption }}</p>
    </div>
    {% endif %}
  </body>
</html>
